/****************************************************************************
* Reset browser margin and padding
*/
* {
  margin: 0;
  padding: 0;
}


/** Set the side standard measurement to 16 per 1rem **/
html {
  font-size: 62.5%;
}


/** Set common page color, font, and background color... **/
body {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.7;
  text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to right, #7ed56f, #28b485);
}

/* Set container with and margin */
.container {
  max-width: 90%;
  margin: 0 auto;
}


/* Set heading title background and images */
.text-game-title {
  display: flex;
  background-color: #1f14bb;
  background-image: url("../images/Background03.png");
  background-size: cover;
  box-shadow: 0 1rem 2rem black;
  height: 200px;
  text-align: center;
}

/** Set crystal dynamic image size - **/
.img-crystal {
  width: 100% ;
}

/** Set h1 title **/
h1 {
  margin: 6rem auto;
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #df104e;
  text-shadow: .5rem .5rem .5rem #ffffffa9;
}

/** Set nanimation effect for heading tags **/
h1:hover, 
h2:hover, 
h3:hover {
  transition: all .2s;
  transform: skewY(2deg) skewX(15deg) scale(1.1);
}

/** Setu front size for h2 tag **/
h2 {
  font-size: 2.5rem;
}

/** Setu front size for h3 tag **/
h3 {
  font-size: 2rem;
}

/** Setup animation effect for crystal images **/
img:hover {
  transition: all .2s;
  transform: translateY(-.5rem);
  transform: scaleX(1.1) scaleY(1.1);
  opacity: 20;
}

/** Setup animation effect for crystal images **/
img:active {
  transform: translateY(0);
}

/** Setup game instruction background, image, and dimention **/
.intruction-text-background {
  margin: 30px auto;
  background-image: linear-gradient(to right, #7caaf0, #0e58ac);
  padding: 2rem 2rem;
  box-shadow: 0 1rem 2rem black;
}

/** Setup game text instruction dimention **/
.text-instruction {
  margin: 2rem auto;
}

/** Setup game scores background, image, and dimention **/
.game-score-box {
  margin: 2rem auto 5rem auto;
  background-image: linear-gradient(to right, #7caaf0, #0e58ac);
  padding: 1rem 2rem;
  box-shadow: 0 1rem 2rem black;
}

/** Setup page layout row dimention **/
.row {
  display: flex;
  margin: 2rem auto;
  text-align: center;
}

/** Setup page column layout and dimention **/
.col {
  padding: .5rem 2rem;
  flex-direction: row;
}

/** Set game score font color **/
#randomScore,
#totalScore,
#wins,
#losses {
  color: #1cee74;
}
